
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
    <script src="~/Content/layui/layui.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-carousel" id="test1" style="margin-top:20px;height:450px">
        <div carousel-item>
            <div><img src="~/Content/images/Carousel/轮播图1.png" style="height:100%;width:100%" /></div>
            <div><img src="~/Content/images/Carousel/轮播图2.png" style="height:100%;width:100%" /></div>
            <div><img src="~/Content/images/Carousel/轮播图3.png" style="height:100%;width:100%" /></div>
            <div><img src="~/Content/images/Carousel/轮播图4.png" style="height:100%;width:100%" /></div>
            <div><img src="~/Content/images/Carousel/轮播图5.png" style="height:100%;width:100%" /></div>
            <div><img src="~/Content/images/Carousel/轮播图6.png" style="height:100%;width:100%" /></div>
            <div><img src="~/Content/images/Carousel/轮播图7.png" style="height:100%;width:100%" /></div>
            <div><img src="~/Content/images/Carousel/轮播图8.png" style="height:100%;width:100%" /></div>
        </div>
    </div>
    <div style="margin-top:20px">
        <blockquote class="layui-elem-quote" style="height:250px">
            <div style="width:600px;height:280px;float:left;margin-left:10px">
                <h2>欢迎光临：深圳瑞吉酒店</h2>
                <pre>
    深圳瑞吉酒店2011年盛大开业，做为深圳超五星级酒店，深圳瑞吉酒店始终坚持完善的国际五星服务标准。全球所有瑞吉酒店都像是千年不朽的艺术品，璀璨夺目，纽约的管 理制度建筑大师的设计风格，融合当地的风俗民情，一座座瑞吉酒店都是地标性建筑。深圳瑞吉酒店位于中国最蓬勃发展的城市之一—深圳，这座精美的地标性建筑矗立于著名的 金融区内，可俯瞰城市的壮观美景。 欢迎您前来体验这里的优雅氛围和亲切服务。           
    无论您是在我们的 5 家餐厅和酒吧享用丰盛可口的美食佳酿，还是体验一次放松舒缓的水疗护理，或是在健身俱乐部彻底焕发身心活力，都将获得无与伦比的舒适享受和优 雅氛围。            
    酒店的 290 间客房及套房装潢奢华，不仅拥有舒适时尚的公寓式住宿环境，还可饱览壮丽迷人的城市美景。 无论您有何需求，瑞吉管家都将随时为您送上贴心服务，让您心 满意足！
            </pre>
            </div>
            <div style="width:330px;height:270px;float:left;margin:30px 50px auto 100px">
                <img src="~/Content/images/Carousel/地标.png" />
            </div>
        </blockquote>
    </div>

    <div style="background-color:#FFFFFF;width:100%;padding-top:5px">
        <hr />
        <div style="margin:20px 10px;padding-left:100px"><h2>会议、餐饮、娱乐</h2></div>
        <div style="padding:0px 0px 20px 100px"><img src="~/Content/images/Carousel/娱乐.png" /></div>
    </div> 

    <script type="text/javascript">
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#test1'
    , width: '100%' //设置容器宽度
    ,height:'450px'
    ,arrow: 'none' //始终显示箭头
    , anim: 'default' //切换动画方式
    , autoplay: true
    ,interval:3000
  });


});
    </script>
</body>
</html>
