

    @section CustomCss{
    <link href="~/Content/CSS/Company.css" rel="stylesheet" />
        }

    <div class="layui-row" id="carouse">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
            <div class="layui-carousel " id="test1" >
                <div carousel-item class="carousel">                  
                    <div><img src="~/Content/images/Carousel/轮播图2.png" class="layui-show-sm-inline-block layui-show-md-inline-block layui-show-lg-inline-block " /></div>
                    <div><img src="~/Content/images/Carousel/轮播图3.png" class="layui-show-sm-inline-block layui-show-md-inline-block layui-show-lg-inline-block " /></div>
                    <div><img src="~/Content/images/Carousel/轮播图4.png" class="layui-show-sm-inline-block layui-show-md-inline-block layui-show-lg-inline-block " /></div>
                    <div><img src="~/Content/images/Carousel/轮播图5.png" class="layui-show-sm-inline-block layui-show-md-inline-block layui-show-lg-inline-block " /></div>
                    <div><img src="~/Content/images/Carousel/轮播图6.png" class="layui-show-sm-inline-block layui-show-md-inline-block layui-show-lg-inline-block " /></div>
                    <div><img src="~/Content/images/Carousel/轮播图7.png" class="layui-show-sm-inline-block layui-show-md-inline-block layui-show-lg-inline-block " /></div>
                    <div><img src="~/Content/images/Carousel/轮播图8.png" class="layui-show-sm-inline-block layui-show-md-inline-block layui-show-lg-inline-block " /></div>
                </div>
            </div>
        </div>
    </div>

    <blockquote class="layui-elem-quote">
        <div id="test2">
            <div class="layui-row">
                <div class="layui-col-sm6 layui-col-md6 layui-col-lg7">
                    <div class="grid-demo ">
                        <div id="text">
                            <h2>欢迎光临：深圳瑞吉酒店</h2>
                            <pre>
    深圳瑞吉酒店2011年盛大开业，做为深圳超五星级酒店，深圳瑞吉酒店始终坚持完善的国际五星服务标准。全球所有瑞吉酒店都像是千年不朽的艺术品，璀璨夺目，纽约的管 理制度建筑大师的设计风格，融合当地的风俗民情，一座座瑞吉酒店都是地标性建筑。深圳瑞吉酒店位于中国最蓬勃发展的城市之一—深圳，这座精美的地标性建筑矗立于著名的 金融区内，可俯瞰城市的壮观美景。 欢迎您前来体验这里的优雅氛围和亲切服务。           
    无论您是在我们的 5 家餐厅和酒吧享用丰盛可口的美食佳酿，还是体验一次放松舒缓的水疗护理，或是在健身俱乐部彻底焕发身心活力，都将获得无与伦比的舒适享受和优 雅氛围。            
    酒店的 290 间客房及套房装潢奢华，不仅拥有舒适时尚的公寓式住宿环境，还可饱览壮丽迷人的城市美景。 无论您有何需求，瑞吉管家都将随时为您送上贴心服务，让您心 满意足！
            </pre>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm4 layui-col-sm-offset1 layui-col-md4 layui-col-md-offset1 layui-col-lg3 layui-col-lg-offset1" >
                    <div class="grid-demo " >                 
                            <img  src="~/Content/images/Carousel/地标.png" class="layui-show-sm-inline-block layui-show-md-inline-block layui-show-lg-inline-block" style="height: auto;max-width: 100%;margin-top:50px"/>                       
                    </div>
                </div>
            </div>         
        </div>
    </blockquote>

@Html.Partial("~/Views/Shared/Partial1.cshtml")   

    <script type="text/javascript">
        layui.use(['carousel','jquery'], function () {
            var carousel = layui.carousel,
                $=layui.$;
            //建造实例
            carousel.render({
                elem: '#test1'
              , width: '100%' //设置容器宽度               
              , arrow: 'none' //始终显示箭头
              , anim: 'default' //切换动画方式
              , autoplay: true
              , interval: 3000
            });
        });
    </script>

