
@{
    ViewBag.Title = "RecruitmentDetail";
}

@section CustomCss{
  
<link href="~/Content/CSS/RecruitmentDetail.css" rel="stylesheet" />

}

@section TopContent{

    <blockquote class="layui-elem-quote"><h2>招聘信息--详情</h2></blockquote>

}

@section down{
   @Html.Partial("~/Views/Shared/Partial1.cshtml")
}
<div id="RecruitmentDetail">
    <div id="RecruitmentTitle">
        <h2>@ViewBag.rec.PostName</h2>
    </div>
         
            <div id="RecruitmentContents">                
                <div id="Requirement">
                    <div class="layui-row">
                        <div class="layui-col-md2 layui-col-xs12 layui-col-sm6">
                            <div class="RequirementContents">学历：@ViewBag.rec.EduBackground</div>
                        </div>
                        <div class="layui-col-md2 layui-col-xs12 layui-col-sm6">
                            <div class="RequirementContents">工作经验：@ViewBag.rec.Experience 年</div>
                        </div>
                        <div class="layui-col-md2 layui-col-xs12 layui-col-sm6">
                            <div class="RequirementContents">招聘人数：@ViewBag.rec.RequireCount</div>
                        </div>
                        <div class="layui-col-md2 layui-col-xs12 layui-col-sm6">
                            <div class="RequirementContents">工作地点： @ViewBag.rec.PostPlace</div>
                        </div>
                        <div class="layui-col-md4 layui-col-xs12 layui-col-sm6">
                            <div class="RequirementContents">发布时间：@ViewBag.rec.PublishTimeStr</div>
                        </div>
                    </div>
                </div>  
                <div id="PostDesc">
                    <div id="PostDescTitle"><h3>职位描述:</h3></div>
                    <div><pre>     @ViewBag.rec.PostRequire</pre></div>
                </div>        
          </div>
    
        </div>

