
@{
    ViewBag.Title = "RecruitmentDetail";
}

@section CustomCss{
  
<link href="~/Content/CSS/RecruitmentDetail.css" rel="stylesheet" />

}

@section TopContent{

    <blockquote class="layui-elem-quote"><h2>招聘信息--详情</h2></blockquote>

}

@section down{
    <div id="down">
        <hr />
        <div id="title"><h2>会议、餐饮、娱乐</h2></div>
        <div id="downimg"><img src="~/Content/images/Carousel/娱乐.png" /></div>
    </div>
}
<div id="RecruitmentDetail">
    <div id="RecruitmentTitle">
        <h2>@ViewBag.rec.PostName</h2>
    </div>

    <div id="RecruitmentContents">
        <div id="Requirement">
            <div class="RequirementContents" style="width:80px">学历：@ViewBag.rec.EduBackground</div>
            <div class="RequirementContents"style="width:100px">工作经验：@ViewBag.rec.Experience</div>
            <div class="RequirementContents"style="width:80px">招聘人数：@ViewBag.rec.RequireCount</div> 
            <div class="RequirementContents" style="width:110px">工作地点： @ViewBag.rec.PostPlace</div>
            <div class="RequirementContents"style="width:200px">发布时间：@ViewBag.rec.PublishTime</div>                      
        </div>
        <div id="PostDesc">
            <div id="PostDescTitle"><h3>职位描述:</h3></div>
            <div><pre>     @ViewBag.rec.PostRequire</pre></div>
        </div>
    </div>

</div>

