@section CustomCss{
    
<link href="~/Content/CSS/News.css" rel="stylesheet" />
    }

@section TopContent{
 
        <blockquote class="layui-elem-quote"><h2>新闻动态</h2></blockquote> 
    
    }

@section down{
    <div id="down">
    <hr />
    <div id="title"><h2>会议、餐饮、娱乐</h2></div>
    <div id="downimg"><img src="~/Content/images/Carousel/娱乐.png" /></div>
</div>    
    }

<div id="NewsForm">
    <div class="layui-form" id="form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">新闻类别：</label>
                <div class="layui-input-block">
                    <select id="CategoryId">
                        <option selected="" value="">请选择类别</option>
                        <option value="1">公司新闻</option>
                        <option value="2">社会新闻</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button class="layui-btn" id="querystu">查  询</button>
                </div>
            </div>
        </div>
    </div>
    <table class="layui-table" id="newsTable" lay-filter="newsTable"></table>
</div>


        <script type="text/javascript">
            layui.use(['table', 'jquery'], function () {
                var table = layui.table,
                    $ = layui.$;

                //表格初始化
                table.render({
                    elem: '#newsTable',
                    url: "@Url.Action("GetNewsList")",
                    page: true,
                    skin: 'nob',
                    height: 480,
                    cols: [[
                        { field: 'NewsTitle', title: '新闻标题', width: '40%', align: 'center' },
                        { title: '新闻分类', width: '30%', align: 'center', templet: function (d) {return d.NewsCategory.CategoryName } },
                        { field: 'PublishTime', title: '发布时间', width: '30%', align: 'center', templet: function (d) { return layui.util.toDateString(d.PublishTime.replace("/Date(", "").replace(")/", "") * 1, 'yyyy-MM-dd HH:mm:ss') } }
                    ]]
                });

                //表格重载
                $('#querystu').click(function () {
                    var categoryId = $('#CategoryId').val();
                    table.reload('newsTable', {
                        url: '@Url.Action("GetNewsList")',
                        where: {
                            newCategory:categoryId
                        }, //设定异步数据接口的额外参数
                        height: 480
                    });
                });

                //双击获取详情
                table.on('rowDouble(newsTable)', function (obj) {                    
                    var newsId = obj.data.NewsId;                   
                    window.location = '/News/Detail?newId=' + newsId;
                });
            })
        </script>
