<div id="down">
    <hr />
    <div id="title"><h2>会议、餐饮、娱乐</h2></div>
    <div id="downimg"><img src="~/Content/images/Carousel/娱乐.png" class="layui-show-sm-inline-block layui-show-md-inline-block layui-show-lg-inline-block" style="height: auto;max-width: 100%;" /></div>
</div>
