body{background-image:url("../images/001.jpg");}
.layui-container{margin-top: 20px;}
.footer{width:100%;background-color:#000000;}
.CompanyName{margin:10px 0px 20px 20px;padding:20px 0px; color:#FFFFFF;}