#carouse{padding-top:10px}
.carousel img{ width: 100%;}

.layui-elem-quote {margin-top:10px}
#down{background-color:#FFFFFF;width:100%;padding-top:5px}
#title{margin:20px 10px;padding-left:100px}
#downimg{padding:0px 50px 20px 100px}