.layui-elem-quote{padding:20px 20px;background-color:#534d4d;color:#FFFFFF;margin:10px auto 0px auto}

.dishesBook{background-color:#ffffff;float:left;}
.form{padding:65px 40px;}
.layui-form{margin:10px auto 10px 0px}
.layui-form-label{width:130px}
.layui-btn{margin-left:50px}

.dishesImg img{max-width:100%;height:auto;margin:10px 0px 0px 10px;display:inline-block}


.footer {float: left; margin:10px 0px;}
.CompanyName {margin:0px 10px;padding-left:10px}
