.layui-elem-quote{padding:20px 20px;background-color:#534d4d;color:#FFFFFF;margin:10px auto 0px auto}
#Environment{background-color:#ffffff;float: left;}
.imglist {width:1140px;float:left;margin-bottom:20px}
.imgitem{float: left;margin:20px 0px 0px 27px}
.imgitem img{width:250px;height:190px}
.footer {float: left;width: 1140px; margin:10px 0px;
}
.CompanyName {margin:0px 10px;padding-left:10px
}