.layui-elem-quote{padding:20px 20px;background-color:#534d4d;color:#FFFFFF;margin:10px auto 0px auto}
#down{background-color:#FFFFFF;width:100%;padding-top:5px}
#title{margin:20px 10px;padding-left:100px}
#downimg{padding:0px 50px 20px 100px}
#NewsForm{background-color:#ffffff}
#form {
    padding-top:30px
}