#down{background-color:#FFFFFF;width:100%;padding-top:5px}
#title{margin:20px 10px;padding-left:100px}
#downimg{padding:0px 50px 20px 100px}
.layui-elem-quote{padding:20px 20px;background-color:#534d4d;color:#FFFFFF;margin:10px auto 0px auto}

#RecruitmentDetail{background-color:#ffffff;margin-bottom:10px}
#RecruitmentTitle h2{text-align:center;padding-top:20px}
#RecruitmentContents {height:400px;margin:20px 30px 0px 30px;padding-bottom:10px}
#Requirement{background-color:beige;text-align:center;margin:20px 70px;}
.RequirementContents{float:left;margin-left:20px;padding:10px 0px}
#PostDesc{margin:0px 70px;}
#PostDescTitle{padding :10px 0px}
