.form{margin:50px 20px}
#test1{margin-left:50px}
.layui-form{width:760px}
.layui-form-item{float:left;width:380px;clear:none;}
.layui-upload{margin-left:90px}
#PublishDishes{margin:20px 0px 0px 220px;}
#btn{padding-top:16px}
.layui-form-select dl { max-height:120px; }