
@{
    ViewBag.Title = "Creat";
}

<div class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">新闻标题</label>
            <input type="text" placeholder="请输入标题" lay-verify="required" class="layui-input" />
        </div>
    </div>
</div>

