
@{
    ViewBag.Title = "Creat";
}

@using (Ajax.BeginForm("", "", new AjaxOptions() { OnComplete = "submitComplete" }))
{
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">新闻标题</label>
            <div class="layui-input-inline">
                <input type="text" name="NewsTitle" placeholder="请输入标题" lay-verify="required" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新闻分类</label>
            <div class="layui-input-inline">
                <select name="CategoryId">
                    <option selected>请选择...</option>
                    <option value="1">公司新闻</option>
                    <option value="2">社会新闻</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新闻内容</label>
            <div class="layui-input-inline">
                <input type="text" placeholder="请输入标题" lay-verify="required" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn"lay-submit>新&nbsp;&nbsp;&nbsp;&nbsp;增</button>
                <button type="reset" class="layui-btn layui-btn-primary">重&nbsp;&nbsp;&nbsp;&nbsp;置</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    layui.use(['element', 'form', 'jquery'], function () {
        var form = layui.form,
            element = layui.element,
            $ = layui.$;


    })
</script>