
@{
    ViewBag.Title = "新闻管理";
}

<div style="margin:0px 10px ">
    <table id="newsTable" lay-filter="newsTable"></table>
</div>


<script type="text/javascript">
    layui.use(['table','layer','jquery','unobtrusive'], function () {
        var table = layui.table,
            layer=top.layer,
            unobtrusive=layui.unobtrusive,
            $=layui.$;

        //表格初始化
        table.render({
            elem: '#newsTable',
            url: '@Url.Action("GetAllNews")',
            page: true,
            toolbar: 'default',
            cols: [[
                { type: 'checkbox', width: '8%', align: 'center' },
                { type: 'numbers', title: '序号', width: '8%', align: 'center' },
                { field: 'NewsTitle', title: '新闻标题', width: '16%', align: 'center' },
                { field: 'NewsContents', title: '新闻简介', width: '38%', align: 'center' },
                { field: 'CategoryName', title: '新闻分类', width: '10%', align: 'center' },
                { field: 'PublishTime', title: '发布时间', align: 'center', sort: true, templet: function (d) { return layui.util.toDateString(d.PublishTime.replace("/Date(", "").replace(")/", "") * 1, 'yyyy-MM-dd HH:mm:ss') } },

            ]]
        });

        //表格刷新
        window.refreshTable = function () {
            table.reload('newsTable', {
                url: '@Url.Action("GetAllNews")'
            })
        };
       

        //弹窗关闭
        window.Closelayer = function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        };

        //表头工具栏事件监听
        table.on('toolbar(newsTable)', function (obj) {
            switch (obj.event) {
                //添加事件
                case 'add':
                    layer.open({
                        type: 2,
                        title:"添加新闻",
                        area: ['800px', '500px'],
                        offset: 'auto',
                        content:['/HotelManager/News/Creat', 'no']
                    });
                    break;
                    //删除事件
                case 'delete':
                    layer.msg('删除成功！');
                    break;
                    //更新事件
                case 'update':
                    layer.msg('修改成功！');
                    break;
            }
        });


    })
</script>

