
@{
    ViewBag.Title = "修改新闻";
}
<script src="~/ThirdFile/ckeditor/ckeditor.js"></script>
<div style="margin-top:20px">
    @using (Ajax.BeginForm("Update", "News", new AjaxOptions() { OnComplete = "submitComplete" }))
    {
        <div class="layui-form" lay-filter="newsForm">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">新闻标题</label>
                    <div class="layui-input-inline">
                        <input type="text" name="NewsTitle" placeholder="请输入标题" lay-verify="required" class="layui-input" />
                    </div>

                    <label class="layui-form-label">新闻分类</label>
                    <div class="layui-input-inline">
                        <select name="CategoryId">
                            <option selected>请选择...</option>
                            <option value="1">公司新闻</option>
                            <option value="2">社会新闻</option>
                        </select>
                    </div>
                </div>
            </div>

            @*<div class="layui-form-item">
                <label class="layui-form-label">新闻内容</label>
                <div class="layui-input-inline" style="width:700px">
                    <textarea name="NewsContents" id="NewsContents"></textarea>
                </div>
            </div>*@
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit>修&nbsp;&nbsp;&nbsp;&nbsp;改</button>
                    
                </div>
            </div>
        </div>
        <input id="NewsId" type="hidden" value="@ViewBag.NewsId" />
    }
    
</div>

<script type="text/javascript">
    layui.use(['form', 'jquery', 'layer', 'unobtrusive'], function () {
        var form = layui.form,
            layer = top.layer,
            $ = layui.$,
            unobtrusive = layui.unobtrusive;

        //表单赋值
        var NewsId=$('#NewsId').val();
        $.get("@Url.Action("SelectNewsById")", { newsId: NewsId }, function (res) {
            debugger
            form.val('newsForm', {
                'CategoryId':res[0].CategoryId,
                'NewsTitle': res[0].NewsTitle,
                //'NewsContents': res[0].NewsContents
            });
        })


    });
</script>

@*<script type="text/javascript">
    CKEDITOR.replace("NewsContents");
</script>*@