

<link href="~/Areas/HotelManager/CSS/DishesList.css" rel="stylesheet" />

<div id="dishesList">
    @foreach (Models.Dishes item in ViewBag.DishesList)
    {
        <div id="dishes">
            <div id="dishesImg"><img src="~/Content/images/Dishes/@item.DishesImg" /></div>
            <div id="dishesName">菜名：@item.DishesName</div>
            <div id="UnitPrice">价格：￥@item.UnitPrice</div>
            <div id="Category">分类：@item.DishesCategory.CategoryName</div>
            <div id="btn1"><button class="layui-btn layui-btn-sm  layui-btn-normal" id="btnModify">修 &nbsp;&nbsp;改</button></div>
            <div id="btn2"><button class="layui-btn layui-btn-sm layui-btn-danger" id="btnDelete">删 &nbsp;&nbsp;除</button></div>
        </div>
    }
</div>