
@{
    ViewBag.Title = "菜品管理";
}
@section css{   
   <link href="~/Areas/HotelManager/CSS/DishesList.css" rel="stylesheet" />
    }


<div id="form">
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">菜系：</label>
                <div class="layui-input-block">
                    <select id="CategoryId">
                        <option selected="" value="">请选择类别</option>
                        <option value="1">川菜</option>
                        <option value="2">湘菜</option>
                        <option value="3">鲁菜</option>
                        <option value="4">海鲜类</option>
                        <option value="5">其他</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button class="layui-btn" id="queryDishes">搜 &nbsp;&nbsp;索</button>
                    <button class="layui-btn" id="addDishes">增 &nbsp;&nbsp;加</button>
                </div>
            </div>
        </div>
    </div>

    <div id="dishesList">
        @foreach (Models.Dishes item in ViewBag.DishesList)
        {
            <div id="dishes">
                <div id="dishesImg"><img src="~/Content/images/Dishes/@item.DishesImg" /></div>
                <div id="dishesName">菜名：@item.DishesName</div>
                <div id="UnitPrice">价格：￥@item.UnitPrice</div>
                <div id="Category">分类：@item.DishesCategory.CategoryName</div>
                <div id="btn1"><button class="layui-btn layui-btn-sm  layui-btn-normal" id="btnModify" >修 &nbsp;&nbsp;改</button></div>
                <div id="btn2"><button class="layui-btn layui-btn-sm layui-btn-danger" id="btnDelete">删 &nbsp;&nbsp;除</button></div>
            </div>
        }
    </div>
</div>


<script>
    layui.use(['form','jquery'], function () {
        var form = layui.form,
            layer=top.layer,
            $=layui.$;

        $('#queryDishes').click(function () {
            var CategoryId = $('#CategoryId').val();
            window.location = "/HotelManager/Dishes/Index?categoryId=" + CategoryId;
        });

        $('#addDishes').click(function () {
            layer.open({
                type: 2,
                title: "菜品添加",
                area: ['950px', '400px'],
                offset: 'auto',
                content: ['/HotelManager/Dishes/AddDishes', 'no']
            });
        });
    })
</script>


