<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Content/layui/layui.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    @RenderSection("css",false)
</head>
<body>   
        @RenderBody()
      
    <script type="text/javascript">
        layui.config({
            base: '/Content/script/'
        }).extend({
            unobtrusive: 'unobtrusive',
        });
    </script>

    <script type="text/javascript">
        layui.use('layer', function () {
            var layer = layui.layer;        })
    </script>
</body>
</html>